/*@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext);*/

@font-face {
  font-family: 'Icomoon';
  src: url('../icon/fonts/icomoon.eot');
  src: url('../icon/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../icon/fonts/icomoon.woff') format('woff'),
  url('../icon/fonts/icomoon.ttf') format('truetype'),
  url('../icon/fonts/icomoon.svg') format('svg');
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  background-color: #bdc3c7;
  font-family: "Segoe UI";
  font-size: 1em;
}

blockquote {
  background-color: #dce0e1;
  margin: 0;
  padding: 1em;
}

blockquote>p {
  padding: 0;
  margin: 0;
}

blockquote>p:before {
  content: "e ";
  font-family: "Icomoon";
  color: #777;
}

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

::selection,
:after::selection,
:before::selection {
  background-color: #2c3e50;
  color: #fff;
}

a {
  color: #2c3e50;
  text-decoration: none;
  border-bottom: 1px dotted #2c3e50;
}

  a:hover, a:focus {
    color: #0c1e30;
    border-bottom-color: #0c1e30;
  }

  a:visited {
  	color: #2c3e50;
    border-bottom-color: #2c3e50;
  }

  a:active {
  	color: #6c7e90;
    border-bottom-color: #6c7e90;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI";
  color: #2c3e50;
}

pre {
  font-size: 0.875em;
  display: block;
  background-color: #1e3750;
  color: #bdc3c7;
}

  pre code {
    padding: 0.875em;
    overflow-x: auto;
    display: block;
  }

.header {
  background-color: #ecf0f1;
  color: #2c3e50;
  overflow: auto;
  border-top: 5px solid #2c3e50;
}

  .logo {
    font-size: 5em;
    margin: 1.2em auto;
    text-align: center;
    padding: 1em;
  }

  .who {
    /*font-style: italic;*/
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 2em;
    padding: 0 2em;
  }

  .social {
    width: 100%;
    overflow: auto;
    background-color: #16a085;
  }

    .icons {
      padding: 0;
      overflow: auto;
      max-width: 1024px;
      margin: 0 auto;
      box-shadow: 0 0 4px 1px rgba(0,0,0,.4);
    }

      .icon {
        color: #fff;
        list-style: none;
        width: 12.5%;
        height: 60px;
        font: 30px "Icomoon";

        text-align: center;
        line-height: 60px;
        float: left;

        -webkit-filter: grayscale(100%);

        -webkit-transition: -webkit-filter 0.4s ease-in-out;
      }

        .icon:hover {
          -webkit-filter: grayscale(0%) !important;
        }

      @media (max-width: 480px) {
        .icon {
          width: 25%;
        }
      }

      .tw { background-color: #2980b9; }
      .fb { background-color: #2c3e50; }
      .gp { background-color: #c0392b; }
      .dr { background-color: #8e445d; }
      .gh { background-color: #5f6c6d; }
      .wp { background-color: #34495e; }
      .so { background-color: #d35400; }
      .pn { background-color: #c0392b; }

.blogposts {
  padding: 1em;
  max-width: 1024px;
  margin: 0 auto;
}

  .from {
    margin-top: 0;
    font-size: 3em;
  }

  .blogpost {
    padding: 1em;
    color: #444;
    background-color: #ecf0f1;
    margin-bottom: 1em;
    transition: background-color, box-shadow .4s ease-in-out;
    
  }

    .blogpost:hover {
      background-color: #f5f9fa;
      box-shadow: 0 0 4px 1px rgba(0,0,0,.4);
    }

    .blogposttitle {
      margin-top: 0;
    }

    .postmetadata:before, .blogpostmetadata:before {
      content: 'c';
      font-family: "Icomoon";
      padding-right: 0.5em;
    }

    .blogpostexcerpt {
      text-align: justify;
    }

.sidebar {
  width: 40%;
  float: left;
  position: fixed;
  background-color: #ecf0f1;
  color: #2c3e50;
  height: 100%;
  overflow: auto;
  border-top: 3px solid #2c3e50;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.4);
}

  .sidebar>.logo {
    font-size: 2em;
    margin: 1em 0;
  }

  .sidebar .social {
    background-color: transparent;
    margin-bottom: 1em;
  }

  .sidebar .icon {
    width: 25%;
    background-color: transparent;
    color: #7f8c8d;
  }

    .sidebar .tw { color: #2980b9; }
    .sidebar .fb { color: #2c3e50; }
    .sidebar .gp { color: #c0392b; }
    .sidebar .dr { color: #8e445d; }
    .sidebar .gh { color: #5f6c6d; }
    .sidebar .wp { color: #34495e; }
    .sidebar .so { color: #d35400; }
    .sidebar .pn { color: #c0392b; }


.post {
  width: 60%;
  margin-left: 40%;
  padding: 1em;
  border-left: 1px solid #7f8c8d;
}

@media (max-width: 960px) {
  .sidebar, .post {
    width: 100%;
    position: relative;
    margin: 0;
    float: none;
  }

  .post {
    border: none;
    border-top: 1px solid #7f8c8d;
  }
}