html, body {
    height: 100%;
}

.main {
    margin-top: 50px;
    padding: 2em;
}

#theintro {

}

#thequestion {
    display: none;
}

#scoreboard {
    display: none;
}

#error {
    display: none;
}
