@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700,700italic,800,800italic);

html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf0f1;
  padding: 1em;
}

*, *:after, *:before {
  box-sizing: inherit;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

  .nav li {
    display: block;
    list-style-type: none;
    padding: 0.25em;
  }

  .nav a {
    text-align: center;
    color: #555;
    text-decoration: none;
  }

    .nav a:hover, .nav a:focus {
      color: #333;
      text-decoration: dotted;
    }

@media screen and (min-width: 640px) {
  .nav {
    text-transform: uppercase;
    top: 0;
  }

    .nav li {
      display: inline;
    }
}
